
#form-content{width:765px;}

.label_field_pair {width:250px;float:left;margin-left:20px;}
.label_field_pair label {font-weight:bold;display:block;color:#444;margin-bottom:10px;}
.text_input_bg {width:230px;height:28px;background:#fff url(../../images/master_student/admission1/text_input.png) no-repeat;margin-bottom:20px;}
.select_input_bg {width:230px;height:28px;background:#fff url(../../images/master_student/admission1/text_input.png) no-repeat;margin-bottom:20px;}
.label_field_pair input {width:210px;height:28px;background:transparent;border:none;padding-left:10px;padding-top:5px;}
.label_field_pair select {color:#000;width:230px;height:28px;}
.user_submit_button {margin-top:30px;margin-left:30px;float:left;}
.user_submit_button1 {margin-top:30px;margin-left:130px;}

/* Attendance register styling */

#att_register {
    margin : 0 0 0 50px;
    width:400px;
    padding-top:30px;
}
#list {
    margin-top:5px;
}
#list li {
    padding:6px 0 0 50px;
    list-style-type:none;
}
#list li label input {
    margin-right:10px;
}
.name_list{background:url(../../images/student_attendance/attendance_list/list_bg.jpg) no-repeat; height:30px;width:400px;}
.att_list_names {display:inline;}
label {display:inline;}

#class-info {
    background-color : #fff1ab;
    text-align : center;
    margin : 10px 0 20px 0;
}

/* searchbar styling */

.searchbar {height:95px;width:391px;margin-left:4px;padding-left:20px;}
.input-area-bg {width:350px;height:60px;background:#fff url(../../images/_input_bg/text-search.png) no-repeat;}
.searchbar input {width:320px;height:40px;margin:10px 0 0 10px;font-size:24pt;border:none;color:#444;background:transparent;}
.searchbar-top-text {height:30px;width:100px;font-size:16pt;float:left;}
.result-count{height:30px;color:#b00;width:100px;float:right;margin-right:60px;}
.highlight {background:#000;color:#fff;display:inline;}
