
#changepw-form {
    margin : 0 0 0 50px;
}
.label-field-pair {
    height : 80px; width:250px;
    float:left;
    margin : 0 0 0 20px;
}
.text-input-bg {
    background:#fff url(../../images/_input_bg/text-input.png) no-repeat;
    height : 30px; width : auto;
}
.label-field-pair label {
    color : #444444;
    font-weight : bold;
    margin : 0 0 10px 5px;;
}
.text-input-bg input {
    border : none;
    background : transparent;
    height : auto; width:215px;
    margin : 5px 0 0 10px;
}
#submit-button {
    clear : both;
    margin : 0 0 0 200px;
    padding : 40px 0 0 0;
}