<% @users.each do |user| %>
      <div class="users">
        <% link_text = user.first_name.to_s + " " + user.last_name.to_s %>
        <% unless link_text == " " %>
          <% link_text =link_text %>
        <% end %>
        <%= link_to link_text,:controller => 'user', :action => 'profile', :id => user.username %><br/>
      <small>Username: <%= user.username %></small> <br/>
      <small>Role: <%= user.role_name %></small>
      </div>
    <% end %>